*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.DS_Store
# CDK asset staging directory
.cdk.staging
cdk.out

# CDK Context
cdk.context.json

# linting
bandit_apponly.out
source/producer/target
