{
    "ssl_cert_arn": "ARN from AWS Certificate manager",
    "gtm_cloud_image": "gcr.io/cloud-tagging-10302018/gtm-cloud-image",
    "container_config": "Container config string copied from Google Tag Manager"
}