{
    "ssl_cert_arn": "arn:aws:acm:us-west-2:111111111111:certificate/123u4ui5-67d8-9101-11u2-uuid1314u1i5",
    "gtm_cloud_image": "gcr.io/cloud-tagging-10302018/gtm-cloud-image",
    "container_config": "ReallBigrandomstringwithnumbersandalphabets",
    "preview_server_dns": "preview-analytics.root.domain",
    "primary_server_dns": "analytics.root.domain",
    "root_dns": "root.domain",
    "producer_service_dns": "producer.root.domain",
    "data_capture_api_method": "api_gateway"
}