attrs
aws-cdk-lib
aws-cdk.asset-awscli-v1
aws-cdk.asset-kubectl-v20
aws-cdk.asset-node-proxy-agent-v5
aws-cdk.asset-node-proxy-agent-v6
cattrs
cdk-nag
constructs
exceptiongroup
importlib-resources
jsii
publication
python-dateutil
six
typeguard
typing_extensions
aws_solutions_constructs.aws_kinesis_streams_kinesis_firehose_s3